@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi temporibus eligendi facere nostrum nihil, recusandae qui delectus voluptatum a quibusdam accusantium! Tempore quibusdam possimus minima vero harum iste nihil ipsa!
        Voluptatibus illum maxime minima nulla porro laboriosam cum. Nesciunt, ex totam. Iusto deserunt nobis necessitatibus cum! Repellat debitis sequi voluptate aliquid dolorem optio eum, eius praesentium tempora alias corporis vero.
        Culpa et nostrum quod molestias. Nemo nesciunt earum, alias asperiores labore reiciendis dignissimos dolorum sunt totam vel tempore odio, voluptates commodi incidunt! Quaerat, quasi accusamus neque pariatur praesentium eum maxime!
        Id quod hic ipsum. Veniam consectetur, dolor temporibus voluptatum recusandae nobis reprehenderit necessitatibus nihil expedita deserunt ea a iusto possimus distinctio illo quam architecto fuga quisquam laudantium itaque commodi quidem!
        Quisquam libero sunt quae dolor! Dolore unde officiis totam. Molestias nesciunt ea velit culpa omnis laudantium hic rem temporibus quas. Asperiores sit error rerum sequi iste deserunt laborum odio exercitationem.
    </p>
</div>
