<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge.Core" version="17.1.0" targetFramework="net472" />
  <package id="cldrjs" version="0.4.4" targetFramework="net472" />
  <package id="DevExtreme.Web" version="21.1.3" targetFramework="net472" />
  <package id="FSharp.Core" version="4.2.3" targetFramework="net472" />
  <package id="jQuery" version="3.5.1" targetFramework="net472" />
  <package id="jquery-globalize" version="1.1.1" targetFramework="net472" />
  <package id="JSZip" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="mustache.js" version="0.7.2" targetFramework="net472" />
  <package id="Retyped.Core" version="1.6.6733" targetFramework="net472" />
  <package id="Retyped.dom" version="2.8.6733" targetFramework="net472" />
  <package id="Retyped.es2015.collection" version="2.8.6733" targetFramework="net472" />
  <package id="Retyped.es2015.core" version="2.8.6733" targetFramework="net472" />
  <package id="Retyped.es2015.iterable" version="2.8.6733" targetFramework="net472" />
  <package id="Retyped.es2015.symbol" version="2.8.6733" targetFramework="net472" />
  <package id="Retyped.es5" version="2.8.6733" targetFramework="net472" />
  <package id="Retyped.jspdf" version="1.1.6733" targetFramework="net472" />
  <package id="Retyped.node" version="9.6.6733" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
  <package id="WebSharper" version="4.7.2.445" targetFramework="net472" />
  <package id="WebSharper.JsPDF" version="4.7.2.203" targetFramework="net472" />
</packages>